@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.pageWrapper{
    display: flex;
    background: #181822;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.dashTop{
    display: flex;
    width: 100%;
    align-self: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: sticky;
    top: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    background: #181822;
}

.dashHead{
    margin-left: 40px;
}

.signOut{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    width: 125px;
    height: 50px;
    color: red;
    background: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #5fa8a1;
    border-width: 0.5px;
    transition: 0.5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.signOutHover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: red;
}

.signOutHover:before {
    content: "";
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: red;
    border-style: none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.signOutHover:hover, .signOutHover:focus, .signOutHover:active {
    color: red;
}

.signOutHover:hover:before, .signOutHover:focus:before, .signOutHover:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 5px;
}

.postSection{
    display: flex;
    flex-direction: column;
}

.feedQuote{
    color: white;
    text-align: left;
    width: 90%;
    align-self: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.noPosts{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    width: 50%;
    padding: 20px;
    background: #23232f;
    border-radius: 15px;
}