.footerWrapper{
    width: 100%;
    background: black;
    border-radius: 25px 25px 0px 0px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.covid{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: end;
}

.vcFoot{
    font-weight: bold;
    font-size: 25px;
    text-align: start;
}