.newPostQuote{
    width: 90%;
    text-align: start;
    align-self: center;
    color: #64647a;
}

.postText{
    width: 70%;
    height: 300px;
    margin-bottom: 20px;
}

.newPostForm{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 90%;
    color: white;
}

.newPostDetails{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.newPostImgUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}