.postElement{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 90%;
    background: linear-gradient(to bottom left, #264041, #23232f);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
}

.postView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
    height: 70%;
    width: 100%;
}

.postButtons{
    width: 70%;
}

.editControls{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.editArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.editPost, .submitEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: #5fa8a1;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

.editPost:hover, .submitEdit:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: white;
    color: #5fa8a1;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

.deletePost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: none;
    color: red;
    border-style: solid;
    border-color: #5fa8a1;
    border-width: 0.5px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}

.deletePost:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: white;
    color: red;
    border-style: solid;
    border-color: #5fa8a1;
    border-width: 0.5px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}

.userText{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    align-self: flex-start;
    height: 15%;
    color: white;
}

.postDesc{
    width: 80%;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.postImg{
    height: 90%;
    width: 90%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.postName{
    align-self: center;
    color: white;
}

.commentsTitle{
    margin-bottom: 0px;
    font-weight: bold;
}

.userAvatar{
    width: 50px;
    height: 50px;
    border-radius: 15%;
}

.postInfo{
    display: flex;
    width: 100%;
    margin-bottom: -10%;
}

.comments{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 10px;
    background: #1c2c2c;
    height: 70%;
    border-radius: 15px;
}


.commentsSection{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.comment{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.commentForm{
    display: flex;
    width: 100%;
}

.commentPost{
    width: 85%;
    border-radius: 5px;
    height: 40px;
}

.postComment{
    width: 15%;
    margin-left: 10px;
}

.postHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#dislike{
    margin-top: 15px;
}

#postUsername{
    margin-top: 50px;
}

#like:hover, #dislike:hover{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
}
