.profileQuote{
    display: flex;
    color: #64647a;
    align-self: center;
    width: 90%;
    margin-top: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    width: 90%;
    margin-top: 40px;
}

.nameChange, .emailChange, .passwordChange, .imgChange{
    display: flex;
    width: 40%;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #64647a;
}

.submitChange{
    width: 20%;
    height: 40px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 15px;
    background: linear-gradient(90deg, #64afa8, #418e84);
    align-self: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.submitChange:hover{
    width: 20%;
    height: 40px;
    border-style: solid;
    border-color: #418e84;
    border-width: 0.5px;
    border-radius: 15px;
    background: white;
    align-self: center;
    color: #418e84;
    font-family: 'Poppins', sans-serif;
}

.formInput{
    width: 50%;
    height: 30px;
    border-radius: 15px;
    background: #23232f;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.bottomRow{
    display: flex;
    width: 90%;
    align-self: center;
    margin-top: 30px;
    justify-content: center;
}

.deleteAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 50px;
    color: red;
    background: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #5fa8a1;
    border-width: 0.5px;
    transition: 0.5px;
    font-family: 'Poppins', sans-serif;
}

.profileDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom left, #264041, #23232f);
    border-radius: 15px;
    width: 50%;
    align-self: center;
    color: #64647a;
    font-size: 30px;
}

.dp{
    width: 60px;
    height: 60px;
}

