.landingWrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #181822;
    overflow-y: scroll;
}

.landingBtns{
    position: absolute;
    right: 0%;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.signIn{
    align-self: center;
    background: none;
    border: none;
    color: #5fa8a1;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.signIn:hover{
    color: white;
    text-shadow: 0px 0px 2px white;
}

.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: #5fa8a1;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

.signUpHover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: white;
}

.signUpHover:before {
    content: "";
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: #5fa8a1;
    border-style: none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.signUpHover:hover, .signUpHover:focus, .signUpHover:active {
    color: #5fa8a1;
    border-radius: 5px;
}

.signUpHover:hover:before, .signUpHover:focus:before, .signUpHover:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 5px;
}

.landingQuote{
    font-size: 35px;
    color: white;
    width: 40%;
    margin-left: 20px;
    text-align: start;
}

.landingMainQuote{
    font-size: 40px;
    color: white;
    width: 40%;
    margin-left: 20px;
    text-align: start;
}

.landingContent{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.landingImg{
    width: 70%;
    height: 100%;
}

.landingAbout{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    margin-top: 40px;
}

.aboutDesc{
    text-align: start;
    color: #64647a;
    margin-left: 20px;
    margin-top: 20px;
}

